.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}
.container > .background_size {
	/*  border:1px solid black;*/
	background-image: linear-gradient(to right, #ff5722, #ff9800);
	height: 600px;
	width: 1050px;
	margin-top: 20px;
}
.left {
	float: left;
	text-align: center;
	margin-top: 170px;
	margin-left: 140px;
	color: #fff;
	font-size: 12px;
}

.left > img {
	width: 50px;
	height: 60px;
	cursor: pointer;
	font-family: Iranian Sans;
}

.left p {
	font-family: Iranian Sans;
	font-size: 14px;
}
.left h3 {
	font-family: Iranian Sans;
	font-size: 22px;
}
.left h4 {
	font-family: Iranian Sans;
	font-size: 24px;
}
.left > button {
	border-radius: 1.5rem;
	border: none;
	width: 120px;
	background: #f8f8f8;
	font-weight: 550;
	color: black;
	margin-top: 20px;
	padding: 10px;
	font-family: Iranian Sans;
	font-weight: 700;
}
.right {
	float: right;
	border: 1px solid #fff;
	background-color: #fff;
	height: 400px;
	width: 370px;
	margin: 70px;
	margin-bottom: 500px;
	border-bottom-left-radius: 10% 50%;
	border-top-left-radius: 10% 50%;
}
.right > .form {
	float: right;
	direction: rtl;
	width: 300px;
	margin-right: 15px;
	margin-top: 120px;
	padding-top: 20px 20px 0;
	position: relative;
}

.lockimg > img {
	width: 75px;
	height: 75px;
	margin-right: 105px;
	margin-top: -95px;
}
.lockimg > h5 {
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
	font-family: Iranian Sans;
}
.lockimg > h6 {
	font-size: 11px;
	text-align: center;
	font-family: Iranian Sans;
}

.group > input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #ccc;
	margin-top: 35px;
}
.gcheck > input {
	margin-top: 45px;
	cursor: pointer;
}

.form .login > button {
	border-radius: 1.5rem;
	border: none;
	width: 200px;
	font-weight: 550;
	color: black;
	background-image: linear-gradient(to right, #e6561d, #ff9800);
	padding: 10px;
	margin-top: 35px;
	margin-right: 60px;
	font-family: Iranian Sans;
	font-weight: 700;
}

@media screen and (max-width: 991.98px) {
}

@media screen and (max-width: 767.98px) {
	.container {
		width: 100%;
	}
	.left {
		width: 30%;
		float: left;
		text-align: center;
	}
	.left > img {
		width: 35px;
		height: 35px;
	}
	.left > h3 {
		margin-top: 15px;
		font-size: 15px;
	}
	.left > h4 {
		font-size: 15px;
	}
	.left p {
		font-size: 11px;
	}
	.left > button {
		width: 90px;
		font-size: 13px;
	}
	.right {
		margin-right: 175px;
		width: 320px;
		height: 355px;
	}
	.lockimg > img {
		margin-top: -155px;
		width: 45px;
		height: 45px;
	}
	.lockimg > h5 {
		margin-top: -50px;
		font-size: 13px;
	}
	.lockimg > h6 {
		font-size: 10px;
	}
	.group > input {
		font-size: 11px;
		width: 270px;
	}

	.form .login > button {
		width: 170px;
		font-size: 13px;
	}
}

@media only screen and (max-width: 575.98px) {
	.container {
		width: 100%;
	}
	.right {
		margin: 20px -670px;
		float: left;
		width: 270px;
		height: 320px;
	}
	.lockimg > img {
		width: 35px;
		height: 35px;
	}
	.lockimg > h5 {
		font-size: 11px;
		margin-left: 45px;
	}
	.lockimg > h6 {
		font-size: 10px;
		margin-left: 45px;
	}
	.group > input {
		width: 230px;
	}
	.form .login > button {
		width: 170px;
		font-size: 12px;
		margin: 35px;
	}
	.left {
		width: 20%;
		margin: 430px;
	}
	.left > img {
		width: 35px;
		margin-top: -45px;
	}
	.left > h3 {
		font-size: 12px;
	}
	.left > h4 {
		font-size: 12px;
	}
	.left > p {
		font-size: 7px;
		margin-top: -5px;
	}
	.left > button {
		width: 75px;
		font-size: 11px;
		margin-top: 5px;
	}
}
